body {
    display: grid;
    grid-template-rows: 100px auto 30px;
    grid-template-columns: 1fr 6fr 1fr; /* on click change to 1 column */
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    min-height: 98vh;
    /* position: relative; */
}

header {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr; /* on click change 1frs to autos */
    place-items: center;
    font-size: 4vh;
    border-bottom: 2px solid;
}

header .icon {
    height: 35px;
}

#navbar {
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
    padding: 20px;
    border-right: 2px solid;
    position: sticky;
    top: 0;
    /* display: none; */ /* on click change to none */
}

#navbar .icon {
    height: 20px;
}

#navbar > div {
    display: flex;
    gap: 5px;
}

#navbar .home:hover,
#navbar .added-project:hover,
.menu-close:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.1s;
}

#navbar .add-task,
#navbar .add-project {
    height: 30px;
}

#navbar .add-task:hover,
#navbar .add-project:hover {
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.5);
}

#navbar .add-task:active,
#navbar .add-project:active {
    cursor: pointer;
    transform: scale(0.8);
    transition: 0.3s;
}

#navbar .projects-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.headline {
    font-size: 3vh;
    border-bottom: 2px dashed black;
    align-self: stretch;
    justify-content: center;
}

#content {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    padding: 20px;
}

#content .added-task {
    width: 80%;
    display: grid;
    grid-template-columns: auto 2fr 1fr 1fr 3fr 22px;
    align-items: center;
    gap: 5vw;
    border: 1px dotted;
    border-radius: 10px;
    padding: 10px;
    align-self: center;
    height: 30px;
}

#content .added-task > .task-notes {
    max-height: 40px;
    overflow: auto;
}

#content .added-task > img:hover {
    cursor: pointer;
    transition: 0.5s;
    animation: tilt-shaking 0.3s infinite;
}

footer {
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* body * {
    border: 1px solid;
} */

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
  }
